{% extends 'base.html' %}
{% from 'macros.html' import qux %}

{% block content %}
{% set name='baz' %}

<p>
    <center>
        <table>
            <tr id="chars_guess1"></tr>
            <tr id="chars_guess2"></tr>
            <tr id="chars_guess3"></tr>
            <tr id="chars_guess4"></tr>
            <tr id="chars_guess5"></tr>
        </table>
    </center>
</p>

<p align="center">
<div class="flex-container">
    <button onclick='addStroke("btn_k", "k")' id="btn_k" class="stroke_btn"> 点 丶 </button>
    <button onclick='addStroke("btn_d", "d")' id="btn_d" class="stroke_btn"> 反点 ㇀ </button>
    <button onclick='addStroke("btn_j", "j")' id="btn_j" class="stroke_btn"> 横 一 </button>
    <button onclick='addStroke("btn_f", "f")' id="btn_f" class="stroke_btn"> 竖 丨 </button>
</div>

<div class="flex-container">
    <button onclick='addStroke("btn_s", "s")' id="btn_s" class="stroke_btn"> 撇 丿 </button>
    <button onclick='addStroke("btn_l", "l")' id="btn_l" class="stroke_btn"> 捺 ㇏ </button>
    <button onclick='addStroke("btn_i", "i")' id="btn_i" class="stroke_btn"> 提 ㇀ </button>
    <button onclick='addStroke("btn_b", "b")' id="btn_b" class="stroke_btn"> 竖弯 ㇄ </button>
</div>

<div class="flex-container">
    <button onclick='addStroke("btn_c", "c")' id="btn_c" class="stroke_btn"> 横折 𠃍 </button>
    <button onclick='addStroke("btn_g", "g")' id="btn_g" class="stroke_btn"> 竖钩 亅 </button>
    <button onclick='addStroke("btn_n", "n")' id="btn_n" class="stroke_btn"> 撇折 𠃋 </button>
    <button onclick='addStroke("btn_t", "t")' id="btn_t" class="stroke_btn"> 弯钩 ㇁ </button>
</div>

<div class="flex-container">
    <button onclick='addStroke("btn_h", "h")' id="btn_h" class="stroke_btn"> 竖提 𠄌 </button>
    <button onclick='addStroke("btn_m", "m")' id="btn_m" class="stroke_btn"> 撇点 𡿨 </button>
    <button onclick='addStroke("btn_r", "r")' id="btn_r" class="stroke_btn"> 横折钩 𠃌 </button>
    <button onclick='addStroke("btn_o", "o")' id="btn_o" class="stroke_btn"> 横斜钩 ⺄ </button>
</div>

<div class="flex-container">
    <button onclick='addStroke("btn_y", "y")' id="btn_y" class="stroke_btn"> 斜钩 ㇂ 卧钩 ㇃ </button>
    <button onclick='addStroke("btn_u", "u")' id="btn_u" class="stroke_btn"> 竖弯钩 乚</button>
</div>

<div class="flex-container">
    <button onclick='addStroke("btn_a", "a")' id="btn_a" class="stroke_btn"> 横折折撇 ㇋ </button>
    <button onclick='addStroke("btn_z", "z")' id="btn_z" class="stroke_btn"> 竖折折钩 ㇉ </button>
</div>

<div class="flex-container">
    <button onclick='addStroke("btn_p", "p")' id="btn_p" class="stroke_btn"> 横折提 ㇊ </button>
    <button onclick='addStroke("btn_q", "q")' id="btn_q" class="stroke_btn"> 横折折折 ㇎ </button>
</div>

<div class="flex-container">
    <button onclick='addStroke("btn_x", "x")' id="btn_x" class="stroke_btn"> 竖折撇 ㄣ 竖折折 𠃑 </button>
    <button onclick='addStroke("btn_e", "e")' id="btn_e" class="stroke_btn"> 横撇 ㇇ 横钩 乛 </button>
</div>

<div class="flex-container">
    <button onclick='addStroke("btn_v", "v")' id="btn_v" class="stroke_btn"> 横折折 ㇅ 横折弯 ㇍ </button>
</div>

<div class="flex-container">
    <button onclick='addStroke("btn_w", "w")' id="btn_w" class="stroke_btn"> 横撇弯钩 ㇌ 横折折折钩 𠄎 </button>
</div>
</p>

<div id="share-overlay" class="overlay hidden">
    <div class="overlay-content">
        <p>输入成语，将 URL 发给朋友竞猜！</p>
        <p>
            <input type="text" id="input_word" name="txt" minlength="4" maxlength="20" size="20"
                style="width:150px;height:20px;">
        </p>
        <p>
            <input type="button" value="生成" onclick="generateUrl()" class="common_btn">
            <input type="button" value="关闭" onclick="hideOverlay('share-overlay')">
        </p>
    </div>
</div>

<div id="help-overlay" class="overlay hidden">
    <div class="overlay-content">
        <h2>欢迎挑战象形成语！</h2>
        <p>这是一个猜词游戏，游戏已经为你选好一个成语作为谜底！请首先点击任意笔画，方格中将会显示谜底成语中所有的该笔画。</p>
        <img src="static/partial-word.png" alt="谜底成语中的匹配笔画" width="80%">
        <img src="static/buttons.png" alt="笔画按钮" width="80%">
        <p>当你认为你可以猜一个成语时，请点击任意一个空白的格子，你将可以输入成语！输入完成后，按回车提交！</p>
        <p>若猜错，则你输入的成语中，你已经点击的笔画将会以不同的颜色显示，方便比较！</p>
        <p>选择笔画的总次数和猜测次数是有限的，快来挑战吧！</p>
        <p><input type="button" value="关闭" onclick="hideOverlay('help-overlay')"></p>
    </div>
</div>

<div id="stat-overlay" class="overlay hidden">
    <div class="overlay-content">
        <p align="center">
            <p>您已猜词 <span id="total-game-count"></span> 次，猜中 <span id="success-game-count"></span> 次，平均每次游戏需要猜测 <span id="average-guess"></span> 次。</p>
            <p><input type="button" value="关闭" onclick="hideOverlay('stat-overlay')"></p>
        </p>
    </div>
</div>

{% endblock %}